export("highTtest")
exportMethods(
    "BH",
    "CK",
    "pi_alt",
    "plot",
    "pvalue",
    "ST",
    "vennD" 
)
exportClasses("highTtest")
import("grid")
import("methods")
import("VennDiagram")
importFrom("graphics", "legend", "lines", "par", "plot.new", "points")
importFrom("stats", "p.adjust", "pnorm", "smooth.spline", "t.test")

